<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header-empl :: header"></header>
<div class="container mt-5">
    <h3>Gain Ground - это платформа позволяюцая талантливым и
            одаренным детям поделиться со всем миром своими успехами и достижениями,
        а также найти работу своей мечты. Также это отличная платформа для HR агентств и перспективных предпренимателей,
        которые ищут себе лучших сотрудников.</h3>
</div>
<div th:insert="blocks/footer :: footer"></div>