<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<header th:insert="blocks/header-empl :: header"></header>

<div class="main">
    <section class="up-section padding ">
        <div class="container">
            <h1 >Gain Ground</h1>
            <h2>Here are the news of our site.</h2>
        </div>
    </section>

    <div class="modal-content shadow">
        <div class="container">
            <p><b>Gain Ground</b> is a platform that empowers talented and
                gifted children share their successes and achievements with the whole world,
                and also find your dream job. It is a great platform for HR agencies and prospective entrepreneurs,
                who are looking for the best employees.</p>
        </div>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>