
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/blog-add.css">
    <title>Add Achievement</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
<header th:insert="blocks/header-empl :: header"></header>

<div class="main">
    <form class="modal-content shadow" method="post" action="/blog/add">
        <div class="container">
            <h2 class="form-signin-heading"><b>Add Achievement</b></h2>
            <hr>
            <p>
                <label for="title"><b>Article title</b></label>
                <input type="text" id="title" name="title" placeholder="Enter article title" class="form-control" required>
            </p>
            <p>
                <label for="anons"><b>Article Announcement</b></label>
                <input type="text" id="anons" name="anons" placeholder="Enter article announcement" class="form-control" required>
            </p>
            <p>
                <label for="full_text"><b>Article Content</b></label>
                <textarea id="full_text" name="full_text" placeholder="Enter article content" class="form-control" style="height:100px"></textarea>
            </p>
            <button type="submit" class="btn">Add Achievement</button>
        </div>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>