<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Achievement</title>
    <link rel="stylesheet" href="/css/blog-details.css">
</head>
<body>
<header th:insert="blocks/header-empl :: header"></header>

<div class="main">
    <div class="modal-content shadow">
        <div class="container">
            <div th:each="el:${post}" class="alert alert-info mt-2">
                <h2 class="text-center" th:text="${el.title}"></h2>
                <hr>
                <p>
                    <label><b>Anons</b></label>
                <div class="title" th:text="${el.anons}"></div>
                </p>
                <p>
                    <label><b>Content</b></label>
                <div class="title" th:text="${el.fullText}"></div>
                </p>
                <p>
                    <label><b>Views:</b></label>
                <div class="title" th:text="${el.views}"></div>
                </p>

                <a class="edit" th:href="'/blog/' + ${el.id} + '/edit'" style="color:dodgerblue"><b>Edit Achievement</b></a>
            </div>
        </div>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>