<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<div class="container mt-5">

    <h1>Регистрация</h1>
    <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
    <hr>
    <form action="#" th:action="@{/employer}"  th:object="${userForm}" method="post">
        <h2 class="form-signin-heading">Login</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{username}"  class="form-control" placeholder="Username" >
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}"  class="form-control" placeholder="Password">
        </p>
        <p>
            <label for="passwordConfim">PasswordConf</label>
            <input type="password" id="passwordConfim" th:field="*{passwordConfirm}"  class="form-control" placeholder="Password">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегестрироваться</button>
    </form>
</div>
</body>
</html>