<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/login.css"/>
    <title>Login Customer</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header-login :: header"></header>

<div class="main">
    <section class="up-section padding ">
        <div class="container">
            <h1 >Gain Ground</h1>
            <h2>Here are the news of our site.</h2>
        </div>
    </section>

    <div class="modal-content shadow">
        <div class="container">
            <p><b>Gain Ground</b> is a platform that empowers talented and
                gifted children share their successes and achievements with the whole world,
                and also find your dream job. It is a great platform for HR agencies and prospective entrepreneurs,
                who are looking for the best employees.</p>
        </div>
    </div>
</div>
<div id="id01" class="modal">
<!--    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>-->
    <form class="modal-content shadow" method="post" action="/login">
        <div class="container">
            <h1>Sign In</h1>
            <hr>
            <p>
                <label for="username"><b>Username</b></label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
            </p>
            <p>
                <label for="password"><b>Password</b></label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </p>

<!--            <p>Don't have an account? <a href="/registration" style="color:dodgerblue"><b>Register now</b></a>.</p>-->
            <button class="signupbtn" type="submit">Sign in</button>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>