<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header-empl :: header"></header>
<div class="container mt-5">
    <h1>Добавление достижения</h1>
    <div th:each="el:${post}">
    <form th:action="'/blog/' + ${el.id} + '/edit'" method="post">
        <input type="text" name="title" th:value="${el.title}" placeholder="Введите название статьи" class="form-control"><br>
        <input type="text" name="anons" th:value="${el.anons}" placeholder="Введите анонс статьи" class="form-control"><br>
        <textarea name="full_text" placeholder="Введите содержание статьи" class="form-control" th:text="${el.fullText}"/><br>
        <button type="submit" class="btn btn-success">Обновить</button>
    </form>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>