<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
<div class="container">
        <form class="form-signin" method="post" action="/profile/edit">
        <h2 class="form-signin-heading">Profile</h2>
        <p>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name" required>
        </p>
        <p>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last Name" required>
        </p>
            <p>
            <label>Birth Date</label>
            <input type="text" id="year" name="year" class="form-control" placeholder="Year" required>
            <input type="text" id="month" name="month" class="form-control" placeholder="Month" required>
            <input type="text" id="day" name="day" class="form-control" placeholder="Day" required>
            </p>
         <p>
        <label for="country">Country</label>
        <input type="text" id="country" name="country" class="form-control" placeholder="Country" required>
        </p>
        <p>
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
</div>
</body>
</head>
</html>