
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header-empl :: header"></header>
<div class="container mt-5">
    <h1>Profile</h1>
    <div>
        <h5>
            <label>Name</label>
        <h6 th:text="${profile.first_name+' '+ profile.last_name}" />
        </h5>
        <p>
            <label>Leafs</label>
        <h5 th:text="${profile.leafs}"/>
        </p>
        <p>
            <label>Country</label>
        <h5 th:text="${profile.locale}"/>
        </p>
        <p>
            <label>Phone number</label>
        <h5 th:text="${profile.phoneNumber}"/>
        </p>
        <p>
            <label>Birth Date</label>
        <h5 th:text="${profile.age}"/>
        </p>



    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
<a href="/profile/edit">Редактировать профиль</a>
</body>
</html>