
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="topnav" id="myTopnav" >
        <section id="header">
            <a class="header-modal-content"><b>GainGround</b></a>
            <a class="btn header-text" href="/employee">Employee</a>
            <a class="btn header-text" href="/employer">Employer</a>
        </section>
        <aside>
            <!--            <button onclick="document.getElementById('id01').style.display='block'" class="welcomebtn"><b>Welcome to GainGround</b></button>-->
            <a onclick="document.getElementById('id01').style.display='block'" class="header-exit">Log in</a>
        </aside>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script th:inline="javascript">
        /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</div>