<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">GainGround <img src=""></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/homeEmpl">Главная</a>
            <a class="p-2 text-dark" href="/about">Сообщения</a>
            <a class="p-2 text-dark" href="/about">Рейтинг</a>
            <a class="p-2 text-dark" href="/blog">Мои достижения</a>
            <a class="p-2 text-dark" href="/blog/add">Добавить достижение</a>
            <a class="p-2 text-dark" href="/about">Про нас</a>
        </nav>
        <form action="/logout" method="post">
        <a class="btn btn-outline-primary" href="/login">Выйти</a>
        </form>
    </div>
</div>